/************* RESET ***************/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f6f7eb;
}

/************* LAYOUT ***************/
main {
  margin-inline: auto;
  align-items: center;
}

/************* BODY ***************/

.h1_forside {
  font-family: marshmallow-fluff, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #03045e;
  font-size: 2.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
}

/*tekst i menu*/
a {
  font-family: forma-djr-micro, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
  color: #03045e;
}

.h2_forside {
  font-family: marshmallow-fluff, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #efbcd5;
  font-size: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  text-align: right;
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
  align-self: stretch;
}

.mig_picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin-top: 2rem;
}

.lulu_picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin-top: 2rem;
}

p {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  font-family: forma-djr-micro, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #03045e;
  margin-bottom: 5rem;
}

.h1_portfolie {
  font-family: marshmallow-fluff, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #03045e;
  text-align: center;
  font-size: 5rem;
  margin-top: 5rem;
}

.h2_portfolie {
  font-family: marshmallow-fluff, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #03045e;
  font-size: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 7rem;
}

.image1,
.image2,
.image3,
.image4 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin-top: 2rem;
}

/* layout når den er stor */
@media (min-width: 601px) {
  /************* MENU ***************/
  .menu {
    padding: 18px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f6f7eb;
    position: fixed;
    top: 0;
    width: 100%;
  }

  li {
    float: right;
  }

  .menu_højre {
    float: right;
  }

  li a {
    display: block;
    color: #03045e;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-bottom: 1.5px solid #efbcd5;
  }

  /* Change the link color on hover */
  li a:hover {
    color: #efbcd5;
  }

  .h1_forside {
    font-family: marshmallow-fluff, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #03045e;
    font-size: 5rem;
    margin: auto;
    height: 100vh;
    display: flex;
    text-align: left;
    align-items: center;
  }

  section {
    height: 55vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .h2_forside {
    font-family: marshmallow-fluff, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #efbcd5;
    font-size: 1.5rem;
    text-align: right;
    margin-right: 20rem;
    margin-top: 10rem;
  }

  .mig_picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    margin-top: 2rem;
  }

  .lulu_picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }

  .two_columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: 10rem;
    margin-left: 10rem;
    margin-bottom: 7rem;
  }

  .h1_portfolie {
    font-family: marshmallow-fluff, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #03045e;
    text-align: center;
    font-size: 5rem;
    margin-top: 5rem;
  }

  .h2_portfolie {
    margin-top: 10rem;
    margin-right: 10rem;
    margin-left: 11rem;
    font-family: marshmallow-fluff, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #03045e;
    font-size: 4rem;
  }

  p {
    margin-top: 2rem;
  }

  .column1 {
    border-right: 2px solid #efbcd5;
  }

  .grid_4col_1-1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin-top: 50px;
    margin-right: 150px;
    margin-left: 150px;
    margin-bottom: 100px;
  }

  .image1 {
    grid-column: 1/2 span;
    grid-row: 1/2 span;
  }

  .image2 {
    grid-column: 3;
    grid-row: 1;
  }

  .image4 {
    grid-column: 3/2 span;
    grid-row: 2;
  }

  .h1_portfolie {
    font-family: marshmallow-fluff, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #03045e;
    text-align: center;
    font-size: 5rem;
    margin-top: 8rem;
  }
}

/**************PORTFOLIO SIDER *****************/
